<div id="<%= dom_id(author) %>" class="card shadow-sm mb-4">
  <div class="card-body">
    <h5 class="card-title"><strong><%= author.name %></strong></h5>
    <hr>

    <p class="card-text">
      <strong>Bio:</strong>
      <br>
      <%= author.bio %>
    </p>

    <img src="<%= author.avatar_url %>" alt="<%= author.name %>'s Avatar" class="img-fluid rounded-circle" style="max-width: 150px;">

    <% if author.avatar.attached? %>
      <div class="text-center mt-3">
        <img src="<%= url_for(author.avatar) %>" alt="<%= author.name %>'s Avatar" class="img-fluid rounded-circle" style="max-width: 150px;">
      </div>
    <% else %>
      <p class="text-muted"><em>No avatar available</em></p>
    <% end %>
  </div>
</div>
