<tr id="<%= dom_id(author) %>" class="clickable-row" data-href="<%= author_path(author) %>">
  <td><%= author.created_at.strftime("%B %d %Y") %></td>
  <td><%= author.name %></td>
  <td><%= author.bio %></td>
  <td><%= link_to "Author details", author, class:"btn btn-outline-primary" %></td>
</tr>
