<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>

  <p>
    <strong>Synopsis:</strong>
    <%= book.synopsis %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= book.rating %>
  </p>

  <p>
    <strong>Cover image:</strong>
    <%= book.cover_image %>
  </p>

  <p>
    <strong>File path:</strong>
    <%= book.file_path %>
  </p>

  <p>
    <strong>Availability status:</strong>
    <%= book.availability_status %>
  </p>

</div>
