<% rating = book.rating || 0 %>
<tr id="<%= dom_id(book) %>" class="clickable-row" data-href="<%= book_path(book) %>">
  <td><%= book.title %></td>
  <td><%= book.author&.name %></td>
  <td><%= book.category&.name %></td>
  <td><%= number_to_currency(book.price, unit: "$") %></td>
  <td>
    <% 5.times do |i| %>
      <i class="fa-star <%= i < rating ? 'fas text-warning' : 'far text-muted' %>"></i>
    <% end %>
  </td>
  <td>
    <% if book.price.present? && book.price > 0 %>
      <%= button_to "Buy", stripe_checkout_path(book), method: :post, class: "btn btn-primary btn-sm" %>
    <% end %>
    <%= link_to "View", book, class: "btn btn-outline-primary btn-sm me-2" %>

    <% if book.file.attached? %>
      <%= link_to "Download", rails_blob_path(book.file, disposition: "attachment"), target: "_blank", class: "btn btn-warning btn-sm me-2" %>
    <% else %>
      <span class="text-muted">No file attached</span>
    <% end %>

    
  </td>

</tr>
<div class="modal fade" id="readModal" tabindex="-1" aria-labelledby="readModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="readModalLabel"><%= book.title %> by <%= book.author&.name  %></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="pdf-viewer" class="pdf-viewer text-center">
          <canvas id="pdf-canvas"></canvas>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" id="prev-btn">Previous</button>
        <button class="btn btn-secondary" id="next-btn">Next</button>
      </div>
    </div>
  </div>
</div>
