<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author&.name %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.genre %>
  </p>

  <p>
    <strong>Synopsis:</strong>
    <%= book.synopsis %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= book.rating %>
  </p>

  <p>
    <strong>Cover image:</strong>
    <%=image_tag (book.cover_image) if book.cover_image.attached? %>
  </p>

  <p>
    <strong>File path:</strong>
    <%= book.file_path %>
  </p>

  <p>
    <strong>Attached File:</strong>
    <% if book.file.attached? %>
      <%= link_to "Download File", rails_blob_path(book.file, disposition: "attachment"), target: "_blank" %>
    <% else %>
      No file attached
    <% end %>
  </p>

  <p>
    <strong>Availability status:</strong>
    <%= book.availability_status %>
  </p>

</div>
