<!DOCTYPE html>
<html>
  <head>
    <title>WellnessDigitalLibrary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist/build/pdf.min.js"></script>
    <%= javascript_include_tag 'pdf_reader', 'data-turbo-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <div class="d-flex mt-5">
      <!-- Sidebar -->
      <% if user_signed_in? %>
        <div id="sidebar" class="sidebar bg-light vh-100 position-fixed">
          <%= render 'layouts/sidenav' %>
        </div>
      <% end %>

      <!-- Main Content -->
      <div id="main-content" class="flex-grow-1 ms-5 transition-width">
        <div class="container-flui mt-3 p-3">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
<style>
  .custom-navbar {
    background-color: #631A56;
  }
  .wellness {
    color: white;
    font-weight: bold;
  }
</style>
